@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply w-full mx-auto font-display tracking-wide bg-background text-primary;
    }
    body {
        @apply max-w-7xl mx-auto px-6;
      }
    section {
      @apply flex flex-col items-center justify-center min-h-screen py-16;
    }
    h1 {
        @apply text-2xl md:text-4xl text-center text-primary font-light md:leading-[50px] leading-7;
    }
    h2 {
        @apply font-body text-lg md:text-2xl text-secondary text-center font-light mb-1 md:mb-2 tracking-wider;
    }
    h3 {
        @apply text-lg tracking-widest uppercase leading-6 mb-2;
    }
    h4 {
        @apply text-xl md:text-2xl text-left font-bold uppercase mb-4;
    }
    h5 {
        @apply font-body font-light normal-case text-lg leading-5;
    }
    p {
        @apply font-body font-light tracking-wider text-secondary text-left mb-2 leading-6;
    }
    a {
        @apply text-sm text-center text-secondary font-light uppercase tracking-widest;
    }
    a:hover {
        @apply text-primary trans;
    }
    ul {
        @apply font-body text-secondary font-light ml-4;
    }
    textarea {
        @apply h-24;
      }
}

@layer components {
      .content {
        @apply h-full w-full flex flex-col my-auto justify-center;
      }
      .nav-item {
        @apply text-3xl md:text-base;
      }
      .page-logo {
        @apply w-4/5 mx-auto h-24 md:h-32 mb-8;
      }
      .form {
        @apply mb-4 pt-3 px-3 rounded-lg border-0 ring-0 focus:border-0 focus:ring-0 text-lg font-light text-background placeholder:text-background;
      }
      .submitButton {
        @apply self-center bg-primary font-bold uppercase text-background hover:bg-background hover:text-primary border-[1px] border-primary pt-1 px-4 rounded-lg trans;
      }
      .card {
        @apply flex flex-col m-auto;
      }
      .card-content {
        @apply flex flex-col bg-primary rounded-b rounded-tl p-4 py-6 pt-8;
      }
      .col2 {
        @apply md:columns-2 gap-8;
      }
      .arrow {
        @apply w-9 fill-primary hover:fill-secondary trans animate-pulse-slow;
      }
      .uparrow {
        @apply rotate-180 ml-auto;
      }
    .trans {
        @apply transition duration-300 ease-in-out;
      }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #22293b;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

html {
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }

  /* Page Transittion */
  .page-enter-from{
    opacity: 0;
    transform: translateY(0);
  }
  
  .page-enter-active,
  .page-leave-active {
    transition: all 0.5s;

  }
  .page-enter,
  .page-leave-to {
    opacity: 0;
  }
  
  @keyframes ping {
    75%, 100% {
      transform: scale(1);
      opacity: 75%;
    }
  }

