@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply w-screen min-w-full overflow-x-hidden text-white bg-background font-body;
  }
  header {
    @apply fixed top-0 z-30 w-screen min-w-full;
  }
  footer {
    @apply z-50 text-center;
  }
  nav {
    @apply flex items-center max-w-6xl px-3 py-3 border border-t-0 rounded-t-none border-primary sm:px-6 rounded-mjo bg-background bg-opacity-80;
  }
  section {
    @apply flex items-end justify-end w-screen;
  }
  p {
    @apply mb-3 text-lg font-light leading-snug tracking-wide text-center sm:text-left sm:leading-normal;
  }
  p a {
    @apply text-lg normal-case;
  }
  a {
    @apply text-lg text-white;
  }
  a:hover {
    @apply text-primary trans;
  }
  a:active {
    @apply text-primary trans;
  }
  h1 {
    @apply font-display text-3xl sm:text-6xl font-bold uppercase text-center sm:text-left leading-tight sm:leading-[60px] text-secondary mb-2;
  }
  h2 {
    @apply mb-4 text-xl font-bold leading-tight tracking-wide text-center uppercase font-display sm:text-2xl sm:leading-7 text-background;
  }
  h2 a {
    @apply pointer-events-none;
  }
  h3 {
    @apply mb-auto text-lg font-medium text-center uppercase font-display sm:text-2xl sm:text-left sm:leading-8 text-background;
  }
  h3 a {
    @apply text-sm leading-none text-left uppercase pointer-events-none sm:text-base;
  }
  h4 {
    @apply w-full mt-5 mb-2 text-xl font-bold tracking-wider text-left uppercase text-primary;
  }
  h4 a {
    @apply w-full text-xl font-bold uppercase pointer-events-none text-primary;
  }
  h5 {
    @apply mb-2 tracking-wide text-center;
  }
  h6 {
    @apply mb-2 font-light tracking-wide text-left;
  }
  li {
    @apply ml-5 text-lg font-light list-disc list-outside;
  }
}

@layer components {
  .nav-item {
    @apply p-0 m-0 text-2xl font-medium leading-none tracking-widest uppercase lg:text-base trans;
  }
  .call-button {
    @apply px-3 py-1 text-xl rounded-full md:text-base text-background bg-primary hover:bg-background;
  }
  .rounded-mjo {
    @apply rounded-xl;
  }
  .container {
    @apply items-center max-w-6xl px-6 m-auto mx-auto;
  }
  .card-grid-mjo {
    @apply grid grid-cols-2 gap-3 md:grid-cols-3;
  }
  .card {
    @apply w-full h-full p-6 border rounded-mjo bg-primary border-primary bg-opacity-80 backdrop-blur drop-shadow-xl;
  }
  .icon-sm {
    @apply w-full h-24 mt-4 mb-6;
  }
  .trans {
    @apply transition duration-300 ease-in-out;
  }
  /* Intro */
  .intro {
    @apply flex bg-background;
  }
  .intro .container {
    @apply grid grid-cols-1 gap-0 sm:grid-cols-2 sm:gap-24;
  }
  .intro-icon {
    @apply mx-auto mt-12 md:mt-0 w-36 sm:w-48 md:w-60 lg:w-72 xl:w-80;
  }
  .sosmed {
    @apply w-10 h-10 fill-white hover:fill-primary trans;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  /* display: none; */
  width: 12px;
  background: #22293b;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #4bbda4;
}

/* Page Transittion */
.page-enter-from {
  opacity: 0;
  transform: translateY(0);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.split {
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(#22293b 50%, #fcfcfc 50%);
}

@keyframes ping {
  75%,
  100% {
    transform: scale(1);
    opacity: 75%;
  }
}
